@import "tailwindcss";
@plugin "daisyui";

:root {
  color-scheme: light;
}

[data-theme="teamsystem"] {
  color-scheme: light;
  --p: 186.95deg 100% 41%;
  --pf: 186.95deg 100% 33%;
  --pc: 0deg 0% 100%;
  --s: 214.29deg 100% 40%;
  --sf: 214.29deg 100% 32%;
  --sc: 0deg 0% 100%;
  --a: 199.13deg 100% 44%;
  --af: 199.13deg 100% 36%;
  --ac: 0deg 0% 100%;
  --n: 215.29deg 25% 17%;
  --nf: 215.29deg 25% 13%;
  --nc: 0deg 0% 100%;
  --b1: 0deg 0% 100%;
  --b2: 210deg 40% 98%;
  --b3: 214.29deg 32% 91%;
  --bc: 215.29deg 25% 17%;
}



